<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <services>
      <!--This is commented out if we use the WebServiceHost-->
      <!--<service name="InsulinServiceLibrary.InsulinHttpService" behaviorConfiguration="WebDefault" >
        <host>
          <baseAddresses>
            <add baseAddress = "http://localhost:8080/api" />
          </baseAddresses>
        </host>
        <endpoint address=""
                  binding="webHttpBinding"
                  contract="InsulinServiceLibrary.IInsulinHttpService"
                  behaviorConfiguration="Web"/>
      </service>-->
      <service name="InsulinServiceLibrary.InsulinHttpService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <!--This is commented out if we use the WebServiceHost-->
    <!--<behaviors>
      <serviceBehaviors>
        <behavior name="WebDefault" >
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    <endpointBehaviors>
      <behavior name="Web">
        <webHttp/>
      </behavior>
    </endpointBehaviors>
    </behaviors>-->
  </system.serviceModel>
</configuration>